<a href="https://colab.research.google.com/github/syjoo7777/class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## variables (int, float, str, list, tuple, dict)

In [4]:
a = 1; print(type(a)) # int는 정수형태

<class 'int'>

In [5]:
a = 1.1; print(type(a))  # float는 실수형태
b = 1.0; print(type(b))  # 1.0으로 했을때는, float로 표시됨

<class 'float'>
<class 'float'>

In [7]:
a = '123'; print(type(a)); print(a[1]) 
b = 'hello'; print(type(b)); print(b[1])

# 따옴표를 붙여서 str, 문자열을 만들 수 있음. 여기서, str의 indexing은 대괄호 []를 이용

<class 'str'>
2
<class 'str'>
e

In [8]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

# []안에 원소들을 콤마,를 이용해 나열해 list를 만들 수 있음

<class 'list'>
1

In [9]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

# list안의 원소로 int, float, str, 또 다른 list 등등이 들어올 수 있음 
# list안의 list의 원소를 indexing하고 싶을 때는 []뒤에 또 다른 []를 붙여 할 수 잇음

<class 'list'>
1
a
[3, '4']
4

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

# dict는 {}를 이용해 만들며, :를 이용해 key와 value를 대응시킴
# indexing을 할 때는, [key]의 값을 통해 그에 맞는 value를 찾을 수 있음

## string & list

In [15]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6]) # indexing에서 -n을 붙이면 뒤에서 n번째 자리에 있는 문자를 출력
print(s[1:3], s[1:], s[:3], s[:]) 
# [x:y]를 사용하면 x 이상 y 미만의 자리수에 있는 모든 문자를 출력 
# s[1:]는 두번째 자릿수부터 끝까지, s[:3]는 처음부터 4번째 자릿수 미만까지, s[:]는 모든 자리수에 있는 문자열을 출력

a f f a
bc bcdef abc abcdef

In [11]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

# list에서는 :를 이용하면 하나의 원소를 출력하더라도 list의 형태로 출력됨

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [12]:
len(s) # len함수는 str일 때는 문자열의 문자 개수를, list일 때는 원소의 개수를 출력

6

In [16]:
s.upper() # .upper()는 앞에 오는 문자열을 모두 대문자화

'ABCDEF'

In [17]:
s = ' this is a house built this year.\n' 	

result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [18]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s

#.strip()은 앞에 오는 문자열의 whitespace를 지워주는 역할

'this is a house built this year.'

In [19]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

# .split(' ')는 앞에 오는 문자열의 공백을 기준으로 문자열을 나누어주는 역할. 결과는 list형태로 출력

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [20]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

# .join()는 앞의 문자열을 넣어 괄호 안의 list 원소들을 합쳐주는 역할

'this is a house built this year.'

In [21]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

# .replace(a,b)는 앞에 오는 문자열의 a에 해당되는 부분을 b로 바꾸어줌

'that is a house built that year.'

## syntax (for, if) ##

## function

## import, packages

## numpy, **matplotlib**